<!DOCTYPE html>
<html lang="en">
<head>
    <title>QuickTrends</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
    </head>
	<body>
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">QuickTrends</a>
                    <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login/Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                    </ul>
                </nav>

                <div>
                    {{{ body }}}
                </div>
            
                
            </header>
        </div>

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/index.js"></script>

		
	</body>
</html>
