<section class="row mx-auto d-flex justify-content-center m-3">
  <form class="mx-auto d-flex justify-content-center" action="" method="POST">
    <input id="stockInput" class="" type="text" placeholder="ex. AAPL,MSFT">
    <button id="submit" value="stock-symbol" class="btn btn-secondary">Search</button>
  </form>
  <span id="time-remaining"></span>
</section>
  
<section id="company-card-section" class="row">
    <div id="company-card" class="col">
      <img class="company-image" width="40" height="40">
      <h3 class="company-name">COMPANY NAME</h3>
      <p class="date"><time datetime="2016-04-01T19:00">10-10-2020</time></p>
      <p id="trend-text" class="">Trend Text</p>
      <p class="ceo-name">CEO-NAME</p>
      <p class="industry">INDUSTRY</p>
      <p class="current-price">CURRENT PRICE</p>
      <p class="eps">EPS</p>
      <p class="dividends">DIVIDENDS</p>
      <p class="gross-profit-ratio">GROSS PROFIT RATIO</p>
      <p class="net-income-ratio"NET INCOME RATIO></p>
          </div>
        </div>
      </div>
    </div>   
</section>

<section id="stock-chart-section" class="row">
</section>

<section id="newsfeed" class="">
  <h3 class="newsfeed-section-title"></h3>
  <div>
    <div class="">
        <div class="">
            <ul id="company-article-list" class=""></ul>
        </div>  
    </div>
</div>
</section>

<script src="/assets/js/dashboardFinancials.js"></script>
<script src="/assets/js/trendChart.js"></script>
<script src="/assets/js/companyNewsfeed.js"></script>
<script src="/assets/js/searchAction.js"></script>