<header class="row navbar navbar-light bg-light border">
  <div class="col">
    <div id="title" class="text-align-middle">
      <img class="logo img-fluid" src="assets/pictures/logo_transparent.png" alt="">
    </div>
  </div>
  <div class="col d-flex justify-content-end">
    <div class="top-buttons">
      <button type="button" onclick="location.href='/logout'" id="login-button" class="btn">Logout</button>
    </div>
</header>


<section class="row mx-auto d-flex justify-content-center m-3 mb-5">
  <form class="mx-auto d-flex justify-content-center" action="" method="POST">
    <input id="stockInput" class="" type="text" placeholder="ex. AAPL,MSFT">
    <button id="stockSearch" value="stock-symbol" class="btn btn-secondary">Search</button>
  </form>
  <span id="time-remaining"></span>
</section>

<section id="company-card-section" class="row mx-auto d-flex justify-content-center">
  <div>
    <div id="recents-card" class="card h-100 col" style="width: 18rem">
      <h2>Recent Searches</h2>
      <ul id="recents-list" class="list-group list-group-flush">
        {{#each stocks}}
        <li><button>{{this.name}}</button></li>
        {{/each}}
      </ul>
    </div>
  </div>

<section id="stock-chart-section" class="row">
</section>

<section id="newsfeed" class="">
  <h3 class="newsfeed-section-title"></h3>
  <div>
    <div class="">
      <div class="">
        <ul id="company-article-list" class=""></ul>
      </div>
    </div>
  </div>
</section>

<script src="/assets/js/stockSearch.js"></script>
<script src="/assets/js/trendChart.js"></script>
<script src="/assets/js/companyNewsfeed.js"></script>