<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
      <div class="row">
    <div class="col">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="col">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  </div>
</form>