body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/pictures/backdrop.png");
  background-size: cover no-repeat;
  overflow-x: hidden;
}

#form-parent {
  border-radius: 10px;
  background-color: white;
}

#sign-in {
  margin-top: 2rem;
  background-color: rgb(90, 90, 255);
  color: white;
}

#password-div {
  margin-bottom: 0;
}

@media screen and (min-width: 1242px) {
  body {
    background-size: 100%;
  }
}

li {
  color: #666;
}

#myChart {
  min-height: 350px;
  min-width: 400px;
  max-height: 800px;
  max-width: 800px;
  margin: auto;
}

#trend-text {
  color: white;
}

.uptrend {
  background: green;
}

.downtrend {
  background: red;
}

.no-trend {
  background: #666;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#newsfeed {
  margin: 50px;
}

.article-image {
  padding-bottom: 10px;
  min-height: 125px;
}

/* #company-card {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
} */

a {
  color: #666;
}

/*Home Page*/

.logo {
  width: 160px;
  margin: -30px;
}

#signup-button {
  background-color: rgb(90, 90, 255);
  color: white;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#newsfeed {
	background-color: lightgrey;
}